/*
  ========================================
  Style Reset START
  ========================================
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
  ========================================
  Style Reset END
  ========================================

  ========================================
  START CSS CODING . . . BEGIN!
  ========================================

  ========================================
  GRID
  ========================================
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/*
  ========================================
  BASE COLORS & FONTS
  ========================================
*/
html{
  font-size: 62.5%;
}
body *{
    font-family: 'DotGothic16', sans-serif;
    font-size: 2rem;
    line-height: 3rem;
}
h2{
  font-size: 3.5rem;
  line-height: 7rem;
}
h3{
  font-size: 2.5rem;
  line-height: 5rem;
  text-align: center;
}
h4{
  font-size: 2.25rem;
  text-align: center;
}


/*
  ========================================
  BACKGROUNDS
  ========================================
*/

  /*
  ========================================
  SPECIFIC ITEMS
  ========================================
*/
input{
  padding: .5rem 1rem;
  border: 3px solid black;
  border-top: none;
  border-bottom: none;
}
.inputContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top, .bottom{
  padding: 1.5px 0;
  background: black;
  width: 97.5%;
  justify-self: center;
}
button{
  background: none;
  border: none;
  transition: 0.1s;
}
button:hover{
  opacity: 0.7;
  transition: 0.1s;
  cursor: pointer; 
}
button:active, button:focus{
  outline: none;
  border: none;
}
/*
  ========================================
  MAIN LAYOUT
  ========================================
*/
.padBot {
    margin-bottom: 2rem;
}
.buttons{
  display: flex;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#pokedex .card, #stat .card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#sprites .card{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
    min-width: 300px;
    width: 60vw;
    height: auto;
    padding: 1rem;
    background: #e1e3eb;
    flex-wrap: wrap;
}
.container{
  width: 50%;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  padding: .5rem 0;
}
.container h4{
  text-align: right;
}
#pokedex img{
  justify-self: center;
  align-self: center;
}
.card h2{
  width: 100%;
  text-align: center;
}
ul{
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}
ul li{
  padding: 0 1rem;
}
ul li:before{
  display: inline;
  content: '> '; 
}
.hidden{
    display: none;
}
#moves ul{
  display: block;
  text-align: center;
}
/*
  ========================================
  MINI LAYOUT
  ========================================
*/
.logoContainer{
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
}
.logoContainer img{
    width: 100%;
    height: auto;
}
.audioContainer{
  width: 100px;
  height: 100px;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.audioContainer img{
  height: 50%;
}

/*
  ========================================
  INTERACTIVE
  ========================================
*/
.card{
  transition: 0.3s;
}
.card:hover{
  background: #ceced4;
  cursor: pointer;
  transition: 0.2s;
}

input:active, input:focus{
  border: 3px solid black;
  border-top: none;
  border-bottom: none;
  outline: inherit;
  background: #e1e3eb;
}
::-webkit-scrollbar {
width: 18px;
}
/* Track */
::-webkit-scrollbar-track {
background: #F0F1F7;
}
/* Handle */
::-webkit-scrollbar-thumb {
background: #ceced4;
}
/*
  ========================================
  MEDIA QUERIES
  ========================================
*/


